@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro.eot');
  src: local('☺'), 
    url('../fonts/DINPro.woff') format('woff'), 
    url('../fonts/DINPro.ttf') format('truetype'), 
    url('../fonts/DINPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/DINPro-Bold.eot');
  src: local('☺'), 
    url('../fonts/DINPro-Bold.woff') format('woff'), 
    url('../fonts/DINPro-Bold.ttf') format('truetype'), 
    url('../fonts/DINPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Black';
	src: url('../fonts/DIN-Black.eot');
  src: local('☺'), 
    url('../fonts/DIN-Black.woff') format('woff'), 
    url('../fonts/DIN-Black.ttf') format('truetype'), 
    url('../fonts/DIN-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}