$col32: #323232;
$col4b: #4b4b4b;
$col87: #878787;
$cold8: #d8d8d8;
$colad: #adadad;
$colblack: #000;
$colblack2: #171921;
$colblack3: #22242d;
$colblue: #004492;
$colgray: #ededed;
$colred: #fd1f15;
$colwhite: #fff;
$colpur : #b3b9cd;

$transition02s: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
$transition03s: all .3s ease-in-out;
$transition05s: all .5s ease-in-out;